{% extends 'master.html' %}
{% load static %}
{%  block content %}

<section id="new-arrival" class="new-arrival product-carousel position-relative open-up" data-aos="zoom-out">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
        <div class="line-img my-2">
          <img src="../static/images/line.png" alt="">
        </div>
        <h4 class="text-uppercase mb-0">New Arrivals</h4>
        <div class="line-img my-2">
          <img src="../static/images/line.png" alt="">
        </div>
      </div>
      <div class="swiper product-swiper overflow-hidden">
        <div class="swiper-wrapper d-flex">
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item5.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item13.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item8.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item12.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item9.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
      <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
      <div class="text-center mt-5">
        <a href="shop-sidebar.html" class="btn-link">View All Products</a>
      </div>

    </div>
  </section>

  <section id="best-sellers" class="best-sellers product-carousel position-relative py-5 my-5 open-up"
    data-aos="zoom-out">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
        <div class="line-img my-2">
          <img src="../static/images/line.png" alt="">
        </div>
        <h4 class="text-uppercase mb-0">Best Selling Items</h4>
        <div class="line-img my-2">
          <img src="../static/images/line.png" alt="">
        </div>
      </div>
      <div class="swiper product-swiper overflow-hidden">
        <div class="swiper-wrapper d-flex">
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item7.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item11.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item1.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item3.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item15.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
      <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
      <div class="text-center mt-5">
        <a href="shop-sidebar.html" class="btn-link">View All Products</a>
      </div>

    </div>
  </section>

  <section class="categories full-width-container overflow-hidden">
    <div class="row d-flex flex-wrap g-0">
      <div class="col-md-6 col-sm-6">
        <div class="cat-item position-relative">
          <div class="image-holder">
            <a href="shop.html"><img src="../static/images/cat-large-item1.jpg" alt="categories"
                                     class="product-image img-fluid"></a>
            <div class="category-content position-absolute p-md-5 ps-5 p-3 text-uppercase  ">
              <h2 class="section-title text-white display-3">Skin Care</h2>
              <div class="btn-left btn-swiper">
                <a href="shop.html" class="btn btn-light text-white bg-transparent text-uppercase">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="">
          <div class="cat-item position-relative">
            <div class="image-holder">
              <a href="shop.html"><img src="../static/images/cat-large-item2.jpg" alt="categories"
                                       class="product-image img-fluid"></a>
              <div class="category-content position-absolute p-md-5 ps-5 p-3 text-uppercase">
                <h4 class="section-title text-white display-6">Make-Up Products</h4>
                <div class="btn-left btn-swiper mt-3">
                  <a href="shop.html" class="btn btn-light text-white bg-transparent text-uppercase">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="cat-item position-relative">
            <div class="image-holder">
              <a href="shop.html"><img src="../static/images/cat-large-item3.jpg" alt="categories"
                                       class="product-image img-fluid"></a>
              <div class="category-content position-absolute p-md-5 ps-5 p-3 text-uppercase">
                <h4 class="section-title text-white display-6">Beauty Products</h4>
                <div class="btn-left btn-swiper mt-3">
                  <a href="shop.html" class="btn btn-light text-white bg-transparent text-uppercase">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="related-products" class="related-products product-carousel py-5 position-relative open-up"
    data-aos="zoom-out">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center my-5 py-lg-5">
        <div class="line-img my-2">
          <img src="../static/images/line.png" alt="">
        </div>
        <h4 class="text-uppercase mb-0"> Related Products </h4>
        <div class="line-img my-2">
          <img src="../static/images/line.png" alt="">
        </div>
      </div>
      <div class="swiper product-swiper overflow-hidden">
        <div class="swiper-wrapper d-flex">
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item14.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item2.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item10.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item6.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item ">
              <div class="image-holder position-relative">
                <a href="single-product.html">
                  <img src="../static/images/product-item4.jpg" alt="categories" class="product-image img-fluid">
                </a>
                <a href="wishlist.html" class="btn-icon btn-wishlist ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#heart"></use>
                  </svg>
                </a>
                <a href="wishlist.html" class="btn-icon btn-cart ">
                  <svg width="24" height="24" viewBox="0 0 24 24" class="svg-color">
                    <use xlink:href="#cart"></use>
                  </svg>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-6 mt-3">
                    <a href="single-product.html">Natural Glow</a>
                  </h5>
                  <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="icon-arrow no-outline icon-arrow-left bg-light"></div>
      <div class="icon-arrow no-outline icon-arrow-right bg-light"></div>
      <div class="text-center mt-5">
        <a href="shop-sidebar.html" class="btn-link">View All Products</a>
      </div>

    </div>
  </section>

  <section class="collection container py-5">
    <div
      class="collection-item  row g-4 d-flex justify-content-between align-items-center flex-direction-row flex-wrap my-5">
      <div class="col-md-5 column-container">
        <div class="cat-item position-relative">
          <div class="image-holder">
            <a href="shop.html"><img src="../static/images/collection-banner.jpg" alt="categories"
                                     class="product-image img-fluid"></a>
            <div class="collection-content position-absolute p-5 text-uppercase  ">
              <h2 class="section-title text-white display-3 "> <strike>25%</strike> Now 50% OFF</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 column-container collection-bg">
        <div class="collection-content mx-md-5 my-5">
          <h2 class="element-title text-uppercase display-4 ">Summer collection</h2>
          <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla a. Ac sed eu
            fringilla odio mi. Consequat pharetra at magna imperdiet cursus ac faucibus sit libero. Ultricies quam nunc,
            lorem sit lorem urna, pretium aliquam ut. In vel, quis donec dolor id in. Pulvinar commodo mollis diam sed
            facilisis at cursus imperdiet cursus ac faucibus sit faucibus sit libero.</p>
          <a href="#" class="btn btn-dark  text-uppercase mt-3">Shop Collection</a>

        </div>
      </div>
    </div>
  </section>
{% endblock %}